---
- name: Create the Anisble User Temp Directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.ansible/tmp"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0775"

- name: Create Local Bin Directory
  ansible.builtin.file:
    path: "{{ local_bin | default(ansible_env.HOME + '/.local/bin') }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0775"

- name: Install Shell Packages
  ansible.builtin.apt:
    update_cache: true
    package:
      - zsh
      - tmux
      - git
      - build-essential
  become: true

- name: Install Rusty Things
  ansible.builtin.include_tasks: rust.yml

- name: Install Oh My Zsh and Things
  ansible.builtin.include_tasks: ohmyzsh.yml

- name: Install Fzf
  ansible.builtin.include_tasks: fzf.yml

- name: Install Tmux
  ansible.builtin.include_tasks: tmux.yml

- name: Install Fish PPA and Fish Shell
  ansible.builtin.include_tasks: fish.yml

- name: Install LazyGit
  ansible.builtin.include_tasks: lazygit.yml

# vim: ft=yaml.ansible:
